@page "/paint"
@rendermode InteractiveServer

<PageTitle>Paint</PageTitle>

<h2 style="font-weight: bold;">Room Dimensions and Required Paint Calculator:</h2>

<br>

@code {
    public RoomDimensions calculator = new();
    void SubmitForm() {
        calculator.CalculateFloorArea();
        calculator.CalculateRoomVolume();
        calculator.CalculatePaintNeeded();    
    }
}

<br>

<EditForm Model="@calculator" OnValidSubmit="SubmitForm">
    <DataAnnotationsValidator/>

    <h3>Input Fields</h3>

    <br>

    <div class="form-group">
        <label for="roomWidth">Room Width:</label>
        <InputNumber id="roomWidth" @bind-Value="@calculator.RoomWidth" />
    </div>

    <br>

    <div class="form-group">
        <label for="roomHeight">Room Height:</label>
        <InputNumber id="roomHeight" @bind-Value="@calculator.RoomHeight" />
    </div>

    <br>

    <div class="form-group">
        <label for="roomLength">Room Length:</label>
        <InputNumber id="roomLength" @bind-Value="@calculator.RoomLength" />
    </div>

    <br>

    <div class="form-group">
        <div class="form-check">
            <input type="checkbox" id="ceilingIncluded" class="form-check-input" @bind="@calculator.CeilingIncluded" />
            <label class="form-check-label" for="ceilingIncluded">Painting the Ceiling Included</label>
        </div>
    </div>

    <br>

    <button type="submit" class="btn btn-primary" id="submitButton">Calculate</button>

    <br

    <h3>Results</h3>

    <div class="form-group">
        <label>Floor Area:</label>
        <label id="floorArea">@calculator.FloorArea</label>
    </div>

    <div class="form-group">
        <label>Room Volume:</label>
        <label id="roomVolume">@calculator.RoomVolume</label>
    </div>

    <div class="form-group">
        <label>Paint Needed:</label>
        <label id="paintNeeded">@calculator.PaintNeeded</label>
    </div>
    
</EditForm>
